.form-inline {
  display: block;
  margin-top: 1.5em;
  margin-left: 47%;
  border-radius: 20px;
}

#InputEmail{
  border-radius: 20px;
  border: 2px solid #3867F5;
}

#InputPassword {
  border-radius: 20px;
  border: 2px solid #3867F5;
}

.btn {
  border-radius: 20px;
  border: 2px solid #3867F5;
}


.FridgeInside {
  background-repeat: no-repeat;
  margin-top: 1.5em;
}

.wiyf {
  position: absolute;
  top: 0;
  margin-top: 1em;
  margin-right: 10%;
  color: white;
  font-size: 45px;
  text-shadow: 5px 3px 3px black;
} 
#searchbox {
  background-color: #229cdc;
  background-image: linear-gradient(#3867F5);
  border-radius: 35px;    
  border-width: 1px;
  border-style: solid;
  border-color: #c4d9df #a4c3ca #83afb7;            
  width: 500px;
  height: auto;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  top: 0;
  margin-top: 1em;
  margin-left: 17.5%;
  /*box-shadow: 7px 5px 5px #808080;*/
}

#yummly-searchbox {
  background-color: #229cdc;
  background-image: linear-gradient(#3867F5);
  border-radius: 35px;    
  border-width: 1px;
  border-style: solid;
  border-color: #c4d9df #a4c3ca #83afb7;            
  width: 500px;
  height: auto;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  top: 0;
  margin-top: 1em;
  margin-left: 16.5%;
  /*box-shadow: 7px 5px 5px #808080;*/
}

#search {
  width: 325px;
  height: 35px;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 18px;
}

#submit {
  width: 145px;
  height: 35px;
  border-radius: 20px;
  font-size: 18px;
  margin-left: 4px;
}