html {
  min-height: 100%;
  min-width: 100%;
}
body {
  background-image: url("../images/fridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100%;
  min-width: 100%;
}

.form-inline {
  display: block;
  margin-top: 1.5em;
  margin-left: 47%;
  border-radius: 20px;
}

#InputEmail{
  border-radius: 20px;
  border: 2px solid #3867F5;
}

#InputPassword {
  border-radius: 20px;
  border: 2px solid #3867F5;
}

.btn {
  border-radius: 20px;
  border: 2px solid #3867F5;
}

h1 {
  position: absolute;
  top: 0;
  margin-top: 4em;
  margin-left: 31%;
  color: #3867F5;
  font-size: 45px;
  text-shadow: 2px 0px 0px white;
  letter-spacing: 3px;
}

#login-title {
  position: absolute;
  top: 0;
  margin-top: 4em;
  margin-left: 18%;
  color: #3867F5;
  font-size: 45px;
  text-shadow: 2px 0px 0px white;
} 

#signup-title {
  position: absolute;
  top: 0;
  margin-top: 4em;
  margin-left: 16%;
  color: #3867F5;
  font-size: 45px;
  text-shadow: 2px 0px 0px white;
}

.form-horizontal {
  float: left;
  margin-left: 27%;
  margin-right: 30%;
  margin-top: 15em;
  width: 40%;
}

.navbar-brand {
  font-size: 3em;
}


#searchbox {
  background-color: #229cdc;
  background-image: linear-gradient(#3867F5);
  border-radius: 35px;    
  border-width: 1px;
  border-style: solid;
  border-color: #c4d9df #a4c3ca #83afb7;            
  width: 500px;
  height: 60px;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  top: 0;
  margin-top: 18em;
  margin-left: 32%;
  box-shadow: 7px 5px 5px #808080;
}

#search {
  width: 325px;
  height: 35px;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 18px;
}

#submit {
  width: 145px;
  height: 35px;
  border-radius: 20px;
  font-size: 18px;
  margin-left: 4px;
}


