<% @body_class = "add" %>

<% if @recipe && @recipe.errors.any? %>
  <div>
    <strong>There are some issues with your recipe, please fix them:</strong>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1 id="submit-recipe"><strong><em>Submit New Recipe</em></strong></h1>
<div id='addnewrecipe'>
<button class='add-ingred'>Add Ingredient</button>
<form class="form-horizontal" id="newRecipe" action="/add" method="post">
  <input name ='name' type="text" placeholder="Recipe Name">
  <input id ="append-here" name = 'individual_ingredients[]' type="text" placeholder="Ingredient">
  <textarea class="form-control" rows="8" name = 'ingredients' type="text" placeholder="Ingredients, with measurements"></textarea>
  <textarea class="form-control" rows="8" name = 'body' type="text" placeholder="Cooking Directions"></textarea>
  <input class= "cooktime" name = 'cook_time' type="integer" placeholder="cooking time in seconds">
  <input class= "picture" name = 'picture' type="url" placeholder="picture url (include http://)">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default" id="submit-recipe-button">Submit</button>
  </div>
</form>

</div>








