<% @body_class = "homepage" %>

<div class="title">
  <h1><strong><em>What's in your fridge?</em></strong></h1>
  <form id="searchbox" action="/search" method="post">
    <input name = 'ingredients[]' id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Let's Cook!">
  </form>

  <a href = './yummly'>USE YUMMLY!</a> 

</div>


