<% @body_class = "homepage" %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="wiyf"><strong><em>What's in your fridge?</em></strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 search">
      <form id="searchbox" action="/search" method="post">
        <input name = 'ingredients[]' id="search" type="text" placeholder="Type here">

        <input id="submit" type="submit" value="Let's Cook!">
      </form>
      <button class='add-ingredient'>+ ingredient</button>
    </div>
  </div>
</div>

