<div id="localresults">
<form id="searchbox" action="/search" method="post">
    <input name = 'ingredients[]' id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Let's Cook!">
  </form>