
<% @body_class = "results" %>

<div id="results">
  <%@display_result.each do |match|%>
  <br><br>
  <h3 class="recipe_name"><%=match[:name]%></h3>
  
  <br>
  <br>
  <div class="recipe-details">
    <p class="time">Cooking time: <%=match[:cook_time]%></p>
    <p class="rating2">Picture: <%=match[:picture]%><p>
    </div>
    <%end%>

 </div>

