<% @body_class = "search" %>

<div class="col-md-4 col-md-offset-2 left"><img class="image-results-local" width="300px"height="300px" src="<%=@specific_result.picture%>"> 
</div>
<div class="col-md-6 right" id="results-right">
  <h3 class="recipe_name"><strong><em><%=@specific_result.name%></em></strong></h3>
  <li class="ingredients"><strong>Ingredients: </strong><%=@specific_result.ingred%></li><br>
  <li class="ingredients"><strong>Directions: </strong><%=@specific_result.body%></li>
</div>




 