<div class="title">
  <h1><strong><em>What's in your fridge?</em></strong></h1>
  <form id="searchbox" action="/results" method="post">
    <input name = 'ingred[]' id="search" type="text" placeholder="Type here">
    <input id="submit" type="submit" value="Let's Cook!">
  </form>